* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #1e1e2f;
  color: white;
  padding: 20px;
  transition: 0.3s;
  z-index: 999;
}
.sidebar.active {
  left: 0;
}

#menuBtn {
  position: fixed;
  top: 20px;
  left: 0;
  z-index: 1000;

  background: linear-gradient(45deg, #00bcd4, #4CAF50);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 0 50% 50% 0;
  cursor: pointer;
  transition: 0.3s;
}
.sidebar.active ~ #menuBtn {
  left: 250px;
}
nav h2 {
  margin-bottom: 20px;
  font-size: 20px;
  border-bottom: 2px solid #444;
  padding-bottom: 10px;
}

nav a {
  display: block;
  color: #ddd;
  text-decoration: none;
  margin: 10px 0;
}

nav a:hover {
  color: #00bcd4;
}

main {
  margin-left: 20px;
  padding: 40px;
  background: #f4f4f9;
}

main div {
  margin-bottom: 40px;
}

main h1, main h2 {
  color: #333;
  margin-bottom: 10px;
}

main p {
  color: #555;
  line-height: 1.6;
}





